html, body {
	margin: 0;
	padding: 0;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	
}
* {
	box-sizing: border-box;
}
ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	padding: 0;
}
.clear {
    clear: both;
}

.header {
	width: auto;
	height: 887px;
	background-image: url(../img/head_img.jpg);
	background-repeat: no-repeat;
	background-position: center;
    background-size: cover;
    padding-top: 30px;
}
.header-box {
	width: 970px;
	height: 400px;
	margin: 0 auto;
}
.header-box__logo {
	margin-bottom: 62px;
}
.header-box__navy ul {
	font-size: 0px;
	width: 1052px;
}
.header-box__navy li{
	display: inline-block;
	width: 25%;
	font-size: 22px
}
.header-box__navy li:last-child {
	padding-right: 0;
}

.header-box__navy a {
	
	font-weight: bold;
	color: #fff;
	text-decoration: none;
	display: block;
}
.header-box__navy a:hover {
	text-decoration: underline;
}
.header-box__content {
	width: 420px;
	height: 300px;
	margin-top: 60px;
}
.header__content-h1 {
	font-size: 52px;
	font-weight: 500;
	text-shadow: #357d98 0 1px 1px;
	line-height: 1.2;
	margin-bottom: 20px;
}
.header__content-p {
	font-size: 14px;
	font-weight: 500;
	padding-right: 40px;
	text-shadow: #357d98 0 1px 1px;
	line-height: 1.8;
}
/* Content*/
.content__box {
	width: 100%;
	background-color: #fff;
	padding-top: 105px;
	padding-bottom: 90px;
}
.content {
	width: 970px;
	margin: 0 auto;
	background-color: #fff;
}
.content:after {
	content: "";
	display: table;
	clear: both;
}

.content__rem {
	width: 270px;
	float: left;
	margin-right: 40px;
	color: #fe992a;
	line-height: 1.4;
	font-size: 20px;
	font-style: italic;
}
.content__text {
	width: 640px;
	border-left: 1px solid;
	border-color: #eaeaea; 
	float: left;
	padding-left: 58px;
}
.content__text-h2 {
	color: #fe992a;
	font-weight: 500;
	font-size: 24px;
	margin-bottom: 20px;
}
.content__text-p {
	color: #737c85;
	font-size: 14px;
	line-height: 2;
}
.content__text-p:last-child {
	padding-bottom: 85px;
	
}
.content__text-p a {
	color: #737c85;
}

/*  Footer  */

.footer {
	padding-top: 40px;
	padding-bottom: 100px;
	background-color: #e87976;
}
.footer_box {
	width: 970px;
	margin: 0 auto;
}
.footer__addres {
	width: 310px;
	float: left;
	height: 200px;
	line-height: 1.5;
}
.list_block {
	width: 660px;
	float: left;
}
.list_item {
	width: 85px;
	margin-left: 58px;
	float: left;
}
.list_item:first-child {
	margin-left: 0;
}
.list_item a {
	color: #fff;
	text-decoration: none;
	line-height: 1.5;
}
.list_item a:hover {
	text-decoration: underline;
}
.list_block:after {
	content: "";
	display: table;
	clear: both;
}
.footer_box:after {
	content: "";
	display: table;
	clear: both;
}
h3, h4 {
	font-size: 18px;
	font-weight: bold;
}
h3 {
	margin-top: 20px;
}